*{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}
#rolling{
	margin-right: 20px;
}
#smallbox{
	width: 1000px;
	position: absolute;
	overflow: hidden;
	margin-left: 50px;
	line-height: 20px;
	color: red;
	font-size: 15px;
}
.header{
	height: 20px;
	background-color: #ccc;
	overflow: hidden;
}
.header>div{
	width: 1200px;
	height: 20px;
	margin: 0px auto;
	position: relative;
}
#img{
	position: absolute;
	left: 30px;
	top:2px;
}
.box{
	width: 1200px;
	height: 400px;
	margin: 30px auto;
	position: relative;
	overflow: hidden;
}
.slider{
	width: 8400px;
	position: absolute;
	left: -1200px;
}
.slide{
	width: 1200px;
	overflow: hidden;
	float: left;
}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: #ccc;
	top:175px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	opacity: 0;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav{
	position: absolute;
	left: 500px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background-color: #ccc;
	cursor:pointer;
	margin:  0 10px;
	border-radius: 50%;
	text-align: center;
}
.nav .active{
	background-color: red;
}